
/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #94bcca;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(49, 49, 49, 0.3);
    z-index: 1000;
}

.site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

/* Barre de navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s;
}

.nav-links li a:hover {
    color: #fff;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Menu burger */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1100;
}

.burger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Contenu principal */
main {
    padding: 20px;
    margin-top: 80px; /* Espace sous le header */
}

.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #f9c4c4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.card p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}
.section {
    display: flex;
    flex-direction: column;
}

.card:nth-child(3) {
    order: 3; /* Assurez-vous que la troisième carte (Projets) est en dernier */
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-item {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 0.9rem;
    color: #333;
}



/* Formulaire */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto;
}

form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #f9c4c4;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #f9c4c4;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #94bcca;
}

/* Styles responsives */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: calc(100vh - 60px);
        transform: translateX(100%);
        align-items: center;
        padding-top: 20px;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        color: #fff;
    }

    .section {
        grid-template-columns: 1fr;
    }
}
