
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #333;
    background-color: #fdfdfd;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #94bcca;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(49, 49, 49, 0.3);
    z-index: 1000;
}

.site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

/* Barre de navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s;
}

.nav-links li a:hover {
    color: #ffffff;
}

/* Burger menu */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1100;
}

.burger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Mobile styles */
@media (max-width: 768px) {
    .burger {
        display: flex; /* Affiche le burger sur mobile */
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: calc(100vh - 60px);
        transform: translateX(100%);
        align-items: center;
        padding-top: 20px;
    }

    .nav-links.open {
        transform: translateX(0); /* Affiche le menu burger */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        color: #fff;
    }
}
